{% extends 'blog/base.html' %}

{% block content %}
    <article class="article">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'article_edit' pk=article.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
            {% endif %}
        </aside>
        {% if article.published_date %}
            <time class="date">
                {{ article.published_date }}
            </time>
        {% endif %}
        <h2>{{ article.title }}</h2>
        <p>{{ article.text|linebreaksbr }}</p>
    </article>
{% endblock %}